// Login Page
// --------------------------------------------------
// Login page style.

page-login {
    .toolbar-background{
        background-color: #1e5d6c;
        text-align: center;
    }

    
    section {
        text-align:             center;
        margin-bottom:          10%;
    }

    .loginPanel {
        width:                  400px;
        max-width:              90%;
        padding:                20px;
        margin:                 5px;
        border:                 1px solid map-get($colors, inovatech_blue);
        display:                inline-block;
        color:                  #fff;

        h2 {
            font-size:              18px;
        }

        ion-item {
            padding:                0px;
        }

        .buttons {
            margin-top:             10px;
            text-align:             center;
        }
    
}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    float: right;
}  

div.icone img
{
    margin-top: 50px;
}
div.rodape
{
    position: relative;
    bottom: -5%;
    background-color: #00424e;
    color: white;
}

.rodape img
{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 50px;
}

}
