<ion-header>

  <ion-navbar>
    <ion-title>
        <div class="menu">
        <ion-grid>
            <ion-row>
                <ion-col col-sm>iNOVATECH</ion-col>
                <!--<ion-col col-sm>
                        <img src="assets/img/cdt_neg.png" > 
                </ion-col>-->
            </ion-row>
        </ion-grid>
        </div>
    </ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
    <section class="container">
        <div class="loginPanel">
            <ion-grid>
                <ion-row>
                    <ion-col text-center>
                        <div class="icone">
                        <img src="assets/img/Estudante.png" width="150px" height="150px">
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <h2>Login</h2>
            <form [formGroup]="login">
                <ion-item>
                    <ion-label color="inovatech_blue" margin-left="1px" floating>Matricula</ion-label>
                    <ion-input type="text" formControlName="matricula" margin-left="0.5px"></ion-input>
                </ion-item>

                <!--Test if the FormData is like the form validator requires and warn the user-->
                <ion-item>
                    <ion-label color="inovatech_blue" margin-left="1px" floating>Senha</ion-label>
                    <ion-input type="password" formControlName="password" margin-left="1px"></ion-input>
                </ion-item>

                <div class="buttons">
                    <button ion-button icon-left color="inovatech_blue" (click)="sendData()" [disabled]="!login.valid">
                        <ion-icon name="person"></ion-icon>
                        <span>Entrar</span>
                    </button>
                </div>

                <div class="buttons">
                    <button ion-button icon-left (click)="goToSignup()" color="inovatech_blue">
                        <ion-icon name="person-add"></ion-icon>
                        <span>Registrar</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
    <div class="rodape">
      <ion-grid>
        <ion-row>
          <ion-col text-center col-12 col-sm font-size="5px">
            <p>iNOVATECH</p>
            <p>Centro de Apoio ao Desenvolvimento Tecnológico - CDT/UnB</p>
            <p>Todos os Direitos Reservados®</p>
          </ion-col>
          <ion-col align-self-center text-center col-12 col-sm>
            <img src="assets/img/logos-negativo.svg">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>

