<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Cronograma</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content color = "inovatech_blue" no-lines>
    <h1 ion-text="white"> Em Breve </h1>
</ion-content>