//Adicionar cor a toolbar e posiciona os cards
page-inicial {

    ion-card {
        position: relative;
        text-align: center;
        border: none;
        //border: 0px;
        

    } 
    .card-img{
        opacity: 1;
    }
    .card-title {
        position: absolute;
        top: 66%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
  }

    .card-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 85%;
        width: 100%;
        color: #fff;
    }
    .toolbar-background{
        background-color: #1e5d6c;
        text-align: center;
        
    } 
    
    div.back{
        background-color: #1e5d6c;
    }

    /*ion-navbar{
        max-height: 20%;
    }*/

    
}


//Configura texto dentro dos cards
div.text-title
{
    position: absolute;
    text-align: center;
    top: 36%;
    font-size: 2.0em;
    font-family: '';
    width: 75%;
    max-width:80%;/*to leave spaces around your text on responsive*/
    margin:auto;
    font-weight: bold;
    color: #000;
    opacity: 1.0;

}

div.text-subtitle{
    font-size: 1.0em;
    position: absolute;
    text-align: center;
    top: 52%;
    width: 100%;
    color: #000;
}

//Classe cabeçalho: Cor e imagem
div.cabecalho{
    background-color: #1e5d6c;
}

.cabecalho img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    //max-height: 15%;
    height: 75px;

}

//Cria Rodapé com informações do CDT
div.rodape{
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    background-color: #1e5d6c;
    color: #fff;
}

