
  <ion-header>
      <ion-navbar >
        <div id="cabecalho" class="cabecalho">
          <img src = "assets/img/logo.png">
        </div>
      </ion-navbar>
  </ion-header>
<ion-content class="card-background-page">

  <div class = "back">
    <a ion-item  color="inovatech_blue" (click)="openEvent('FAV')" no-lines>
      <ion-card>
        <div class="card-img"><img src="assets/img/fav-md.jpg"/></div>
        <div class="card-title">FAV</div>
        <div class="card-subtitle">26, 27 e 28 de Setembro</div>
      </ion-card>
    </a>

    <a ion-item color="inovatech_blue" (click)="emBreve()" no-lines>
        <ion-card>
          <div class="card-img"><img src="assets/img/face-md.jpg"/></div>
          <div class="card-title">FACE</div>
          <div class="card-subtitle">17 e 18 de Outubro</div>
        </ion-card>
    </a>

    <a ion-item color="inovatech_blue" (click)="emBreve()" no-lines>
      <ion-card>
        <div class="card-img"><img src="assets/img/fau-md.jpg"/></div>
        <div class="card-title">FAU</div>
        <div class="card-subtitle">07, 08 e 09 de Novembro</div>
      </ion-card>
    </a>

    <!--<a ion-item color="inovatech_blue" (click)="openEvent('FGA')" no-lines>
      <ion-card>
        <div class="card-img"><img src="assets/img/gama.png"/></div>
        <div class="card-title">Campus Gama</div>
        <div class="card-subtitle">24, 25 e 26 de Maio</div>
      </ion-card>
    </a>

    <a ion-item color="inovatech_blue" (click)="openEvent('IE')" no-lines>
      <ion-card>
        <div class="card-img"><img src="assets/img/exatas.png"/></div>
        <div class="card-title">Instituto de Exatas</div>
        <div class="card-subtitle">07 e 08 de Junho</div>
      </ion-card>
    </a>-->
    <br>
    <div color="inovatech_blue" class = "rodape" no-lines>
      <p>iNOVATECH</p>
      <p>Todos os direitos reservados</p>
      <img src="assets/img/cdt_neg.png"/>
    </div>

  </div>
</ion-content>

