page-desafio {
    background-image: url("../../assets/img/outros/BG.jpg");
}

div.cabecalho{
    background-color: #1e5d6c;
}

.cabecalho img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    //max-height: 15%;
    height: 60px;

}

div.icone{
    
}
.icone img{
    width: 50px;
    height: 50px;
}

div.inovatext{
    color: white;
    font-size: 16px;
    padding: 10px;
    text-align: justify;
}
.inovatext a{
    color: #f89a51;
}
