<!--
  Generated template for the Desafio page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Desafio iNOVATECH</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding="50" [ngStyle]="{'background-image': 'url(../../assets/img/outros/BG.jpg)'}">
  <div class="inovatext">
    <p>
      O Desafio iNOVATECH tem o objetivo de colocar os participantes em contato com problemas ou iniciativas reais, estimulando a inovação, tanto disruptiva ou incremental, de forma prática e divertida em uma competição saudável. 
      Patrocinado pela Brasal Refrigerantes, Ambev e o próprio CDT, o iNOVATECH envolve problemas da indústria, centro de distribuição, e da sociedade, dando oportunidades para os participantes oferecer uma solução inovadora. O desafio inclui os problemas de segurança e saúde no trabalho, vencimento de produtos, big data, inventário de estoque e novas formas de saciar a sede.
    </p>
    <p>
      Venha participar do desafio, basta montar sua equipe e se inscrever.
    </p>
    <p>
      <a href="http://www.cdt.unb.br/inovatech/images/desafio.pdf" target="_blank">Saiba mais aqui!</a>
    </p>
    <img src="assets/img/outros/HEAD.png">
  </div>
</ion-content>
