.ios, .md {
 
    mapa-page {
 
      .scroll {
        height: 100%
      }
 
      #map {
        width: 100%;
        height: 100%;
      }
 
    }
 
}

div.text{
    position: absolute;
    top: 30%;
    left:30%;
    color: #fff;
    text-align: right;

}   
