<ion-header>
  <ion-navbar>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Localização</div></ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <div #map id="map"></div>  
</ion-content>
