<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Parceiros</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="assets/img/apoio.jpg">
</ion-content>
