<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
   <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Startups</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg social-cards">
  <ion-list no-lines>
    <div *ngFor="let startup of startup_list" color="inovatech_blue" text-wrap>
      <div *ngIf="startup.evento == local">
        
        <ion-card color="inovatech_blue">
          <div class="social">
            <img src="{{startup.img}}">
            <div id="linkedin">
              <a href="{{startup.linkedin}}" target="_blank"><img src="assets/img/linkedin.png">
              </a>
            </div>
            <h2 color = "">
              {{  startup.nome  }}
            </h2>
            
            <ion-card-content text-wrap>
              <a ion-text color="inovatech_orange">Área: </a> {{startup.area}}<br>
              <a ion-text color="inovatech_orange">Dia: </a> {{   startup.dia.getDate()  }}/{{   startup.dia.getMonth() + 1 }} <br>
              <a ion-text color="inovatech_orange">Horário: </a>{{   startup.dia.getHours()  }}:{{   add0(startup.dia.getMinutes())  }} hrs<br>
              <a ion-text color="inovatech_orange">Local: </a>{{   startup.local     }}<br>
              <br>
              <p>{{   startup.resumo    }}</p>

            </ion-card-content>
          </div>
        </ion-card>
        <br>
      </div>
    </div>
  </ion-list>
</ion-content>
