// page-startup {
//     .card-img{
//             border-radius:50%;
//         }
// }

// div.text{
//     position: absolute;
//     top: 30%;
//     left:30%;
//     color: #fff;
//     text-align: right;

// }   

// //Classe cabeçalho: Cor e imagem
// div.cabecalho{
//     background-color: #1e5d6c;
// }

// .cabecalho img{
//     display:block;
//     margin-left:auto;
//     margin-right:auto;
//     //max-height: 15%;
//     height: 75px;

// }

// div.social {
//     text-align: left;
// }
// .social p{
//     padding: 1px;
// }

// .social h2{
//     margin-left: 20px;
// }

// #linkedin img{
//     border-radius:0%;
//     width: 10%;
//     height: 10%;
//     top: 70%;
//     left: 70%;
//     border: 0px;
// }

// .social img{
//     border-radius:50%;
//     width: 40%;
//     height: 40%;
//     float: right;
//     border:4px solid #f89a51;
// }
