page-palestrante {
    .card-img{
        border-radius:70%;
    }
}

div.text{
    position: absolute;
    top: 30%;
    left:30%;
    color: #fff;
    text-align: right;

}   
//Classe cabeçalho: Cor e imagem
div.cabecalho{
    background-color: #1e5d6c;
}

.cabecalho img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    //max-height: 15%;
    height: 75px;

}

div.social {
    text-align: left;
}
.social p{
    padding: 1px;
}

.social h2{
    margin-left: 15px;
}

#linkedin img{
    border-radius:0%;
    width: 10%;
    height: 10%;
    top: 60%;
    left: 90%;
    border: 0px;
    margin-right: 3px;
}

.social img{
    top:30%;
    border-radius:50%;
    width: 30%;
    height: 30%;
    float: right;
    //border:3px solid #f89a51;
    margin-right: 15px;
    margin-top:5px;
    
}

div.icone{
    
}
.icone img{
    width: 56px;
    height: 56px;
}
