<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Palestrantes</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="cards-bg social-cards">
  <ion-list no-lines no-gap>
    <div *ngFor="let pessoa of palestrantes_list" color="inovatech_blue" text-wrap>
      <div *ngIf="pessoa.evento == local">
        <ion-card color="inovatech_blue">
          <div class="social">
            <img src="{{pessoa.img}}">
            <div id="linkedin">
              <a href="{{pessoa.linkedin}}" target="_blank"><img src="assets/img/linkedin.png"></a>
            </div>
            <h2>
              {{  pessoa.palestrante  }}
            </h2>
            
            <ion-card-content text-wrap>
              <a ion-text color="inovatech_orange">Palestra: </a> {{pessoa.nome}}<br>
              <a ion-text color="inovatech_orange">Dia: </a> {{   pessoa.dia.getDate()  }}/{{   pessoa.dia.getMonth() + 1 }} <br>
              <a ion-text color="inovatech_orange">Horário: </a>{{   pessoa.dia.getHours()  }}:{{   add0(pessoa.dia.getMinutes())  }} hrs<br>
              <a ion-text color="inovatech_orange">Local: </a>{{   pessoa.local     }}<br>
              <br>
                <p>{{ pessoa.resumo}}</p>
            </ion-card-content>
          </div>
        </ion-card>
        <br>
      </div>
    </div>
  </ion-list>
</ion-content>
