<ion-header>
  <ion-navbar>
    <ion-title>questionario</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--<div *ngFor="let pergunta of lista_perguntas; let i = index;" no-lines>
    <ion-list [(ngModel)]="resposta_1" radio-group padding no-lines>  
      <ion-list-header color="inovatech_blue">
        {{pergunta.enunciado}}
      </ion-list-header>
      <ion-item color="inovatech_blue">
        <ion-label>{{pergunta.alternativas[0]}}</ion-label>
        <ion-radio value="alternativa_a"></ion-radio>
      </ion-item>
      <ion-item color="inovatech_blue">
        <ion-label>{{pergunta.alternativas[1]}}</ion-label>
        <ion-radio value="alternativa_b"></ion-radio>
      </ion-item>
      <ion-item color="inovatech_blue">
        <ion-label>{{pergunta.alternativas[2]}}</ion-label>
        <ion-radio value="3"></ion-radio>
      </ion-item>
      <ion-item color="inovatech_blue">
        <ion-label>{{pergunta.alternativas[3]}}</ion-label>
        <ion-radio value="4"></ion-radio>
      </ion-item>
      <br>
    </ion-list>
  </div>-->

  <ion-list [(ngModel)]="resposta[0]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[0].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[0].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[0].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[0].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[0].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[1]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[1].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[1].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[1].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[1].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[1].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[2]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[2].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[2].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[2].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[2].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[2].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[3]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[3].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[3].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[3].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[3].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[3].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[4]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[4].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[4].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[4].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[4].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[4].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[5]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[5].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[5].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[5].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[5].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[5].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[6]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[6].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[6].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[6].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[6].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[6].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[7]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[7].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[7].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[7].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[7].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[7].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[8]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[8].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[8].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[8].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[8].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>pergunta
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[8].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <ion-list [(ngModel)]="resposta[9]" radio-group padding no-lines>  
    <ion-list-header color="inovatech_blue">
      {{lista_perguntas[9].enunciado}}
    </ion-list-header>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[9].alternativas[0]}}</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[9].alternativas[1]}}</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[9].alternativas[2]}}</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>
    <ion-item color="inovatech_blue">
      <ion-label>{{lista_perguntas[9].alternativas[3]}}</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>
    <br>
  </ion-list>
  <button ion-button (click)="validarRespostas()" >Enviar Respostas</button>




    <!--<h1> Angular2 SystemJs Start</h1>
    <img [src]="image">
    <canvas #layout></canvas>-->
</ion-content>
