
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
     <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Cronograma</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content color = "inovatech_blue" no-lines>
  <ion-item color = "inovatech_blue" no-lines no-padding>
    <div class="calendario">
      <img src="assets/img/dia01.png">
      <ion-grid text-wrap>
        <ion-row row-3>
          <ion-col><div id="dia"><a ion-text color="inovatech_orange" > {{   dia1[0].dia.getDate()  }}/{{   dia1[0].dia.getMonth() + 1 }} </a></div></ion-col>
        </ion-row>
        <div *ngFor="let evento of dia1; let i = index">
          <ion-item color = "inovatech_blue" no-lines (click)="openModal(evento)"> 
            <ion-row> 
              <ion-col><div id="hora"><a ion-text color="inovatech_orange">{{   evento.dia.getHours()  }}:{{   add0(evento.dia.getMinutes())  }}</a></div></ion-col>
              <ion-col><div id="evento">{{evento.nome}}</div></ion-col>
              <ion-col><div id="local"><a ion-text color="inovatech_orange">{{evento.local}}</a></div></ion-col>
            </ion-row>
          </ion-item>
        </div>
      </ion-grid>
    </div>
  </ion-item>
  
  <ion-item color = "inovatech_blue" no-lines no-padding>
    <div class="calendario">
      <img src="assets/img/dia02.png">
      <ion-grid text-wrap>
        <ion-row row-3>
          <ion-col><div id="dia"> <a ion-text color="inovatech_orange">{{   dia2[0].dia.getDate()  }}/{{   dia2[0].dia.getMonth() + 1 }} </a></div></ion-col>
        </ion-row>
        <div *ngFor="let evento of dia2; let i = index">
          <ion-item color = "inovatech_blue" no-lines (click)="openModal(evento)"> 
            <ion-row> 
              <ion-col><div id="hora"><a ion-text color="inovatech_orange">{{   evento.dia.getHours()  }}:{{   add0(evento.dia.getMinutes())  }}</a></div></ion-col>
              <ion-col><div id="evento">{{evento.nome}}</div></ion-col>
              <ion-col><div id="local"><a ion-text color="inovatech_orange">{{evento.local}}</a></div></ion-col>
            </ion-row>
          </ion-item>
        </div>
      </ion-grid>
    </div>
  </ion-item>
  <div *ngIf="n_dia == 3">
    <ion-item color = "inovatech_blue" no-lines no-padding>
      <div class="calendario">
        <img src="assets/img/dia03.png">
        <ion-grid text-wrap>
          <ion-row row-3>
            <ion-col><div id="dia"><a ion-text color="inovatech_orange"> {{   dia3[0].dia.getDate()  }}/{{   dia3[0].dia.getMonth() + 1 }} </a></div></ion-col>
          </ion-row>
          <div *ngFor="let evento of dia3; let i = index">
            <ion-item color = "inovatech_blue" no-lines (click)="openModal(evento)"> 
            <ion-row> 
              <ion-col><div id="hora"><a ion-text color="inovatech_orange">{{   evento.dia.getHours()  }}:{{   add0(evento.dia.getMinutes())  }}</a></div></ion-col>
              <ion-col><div id="evento">{{evento.nome}}</div></ion-col>
              <ion-col><div id="local"><a ion-text color="inovatech_orange">{{evento.local}}</a></div></ion-col>
            </ion-row>
          </ion-item>
          </div>
        </ion-grid>
      </div>
    </ion-item>
   </div>


  
 <!--<ion-list no-lines>
    <ion-item>
      <ion-label>Notify me at: </ion-label>
      <ion-datetime displayFormat="h:mm A" pickerFormat="h mm A" [(ngModel)]="notifyTime" (ionChange)="timeChange($event)"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>on the following days:</ion-label>
    </ion-item>

    <ion-item *ngFor="let day of days">
        <ion-label>{{day.title}}</ion-label>
        <ion-checkbox [(ngModel)]="day.checked" color="primary"></ion-checkbox>
    </ion-item>
  </ion-list>


  <ion-footer>
    <button (click)="addNotifications()" ion-button color="primary" full>Schedule</button>
    <button (click)="cancelAll()" ion-button color="danger" full>Leave me alone!</button>
  </ion-footer>
-->  
</ion-content>
