page-cronograma {
    
}

div.cabecalho{
    background-color: #1e5d6c;
}

.cabecalho img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    //max-height: 15%;
    height: 75px;

}

div.calendario{

    #dia {
        font-weight: bold;
    }
    #hora {
    
    }
    #evento {
        
    }
    #local {
        position: fixed;
        left: 80%;
    }
    
}

div.social {
    text-align: left;
}
.social p{
    padding: 1px;
}

.social h2{
    margin-left: 15px;
}

#linkedin img{
    border-radius:0%;
    width: 10%;
    height: 10%;
    top: 60%;
    left: 90%;
    border: 0px;
    margin-right: 3px;
}

.social img{
    top:30%;
    border-radius:50%;
    width: 30%;
    height: 30%;
    float: right;
    border:3px solid #f89a51;
    margin-right: 15px;
    margin-top:5px;
    
}

div.modal{
    text-align: justify;
    font: #fff;
    margin: 20px;
    padding: 0px;
}

.modal img{
    border-radius: 0;
    width: 100%;
    float: center;
}

.modal a{
    font: #fff;
}

