<ion-header>
  <ion-toolbar>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text" text-wrap>{{evento.nome}}</div></ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <div class="modal">
            <img src ="{{evento.img}}">
            <a ion-text color="white" >{{evento.desc}}</a><br>
            <br>
        </div>
    </ion-list>
</ion-content>