<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Minicursos</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <div *ngFor="let minicurso of minicurso_list" color="inovatech_blue" no-lines text-wrap>
      <div *ngIf="minicurso.evento == local">
        <ion-card color="inovatech_blue">
          <div class="social">
            <img src="{{minicurso.img}}">
            <div id="linkedin">
              <a href="{{minicurso.linkedin}}" target="_blank"><img src="assets/img/linkedin.png">
              </a>
            </div>
            <h2 color = "">
              {{  minicurso.nome  }}
            </h2>
            
            <ion-card-content text-wrap>
              <a ion-text color="inovatech_orange">Dia: </a> {{   minicurso.dia.getDate()  }}/{{   minicurso.dia.getMonth() + 1 }} <br>
              <a ion-text color="inovatech_orange">Horário: </a>{{   minicurso.dia.getHours()  }}:{{   add0(minicurso.dia.getMinutes())  }} hrs<br>
              <a ion-text color="inovatech_orange">Local: </a>{{   minicurso.local     }}<br>
              <br>
              <p>{{   minicurso.descricao    }}</p>
            </ion-card-content>
          </div>
        </ion-card>
        <br>
      </div>
    </div>
  </ion-list>
</ion-content>
