<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <div class="menu">
        <img src="assets/img/logos-negativo.svg" margin="5px"> 
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <section class="container">
    <div class="loginPanel">
    <div class="row">
        <div class="col-md">
            <h3 color="inovatech_blue">Cadastro</h3>
            <br>
            <form [formGroup]="signup" (ngSubmit)="sendData()">
                <ion-list>
                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Nome*</ion-label>
                        <ion-input type="text" formControlName="name" margin-left="1px"></ion-input>
                    </ion-item>

                    <div *ngIf="signup.controls['name'].hasError('required') && signup.controls['name'].touched" class="alert mini-alert">Insira seu Nome</div>
                    <div *ngIf="signup.controls['name'].hasError('pattern') && signup.controls['name'].touched" class="alert mini-alert">Digite um nome Válido.</div>

                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Matricula</ion-label>
                        <ion-input type="text" formControlName="matricula" margin-left="1px"></ion-input>
                    </ion-item>

                    <!--<div *ngIf="signup.controls['matricula'].hasError('required') && signup.controls['matricula'].touched" class="alert mini-alert">Insira sua Matrícula</div>-->
                    <div *ngIf="signup.controls['matricula'].hasError('pattern') && signup.controls['matricula'].touched" class="alert mini-alert">Digite apenas números.</div>

                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>CPF*</ion-label>
                        <ion-input type="text" formControlName="cpf" margin-left="1px"></ion-input>
                    </ion-item>

                    <div *ngIf="signup.controls['cpf'].hasError('required') && signup.controls['cpf'].touched" class="alert mini-alert">Insira seu CPF</div>
                    <div *ngIf="signup.controls['cpf'].hasError('pattern') && signup.controls['cpf'].touched" class="alert mini-alert">Digite apenas números.</div>

                   
                    <!--<ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Curso</ion-label>
                        <ion-input type="text" formControlName="curso" margin-left="1px"></ion-input>
                    </ion-item>

                    <div *ngIf="signup.controls['curso'].hasError('required') && signup.controls['curso'].touched" class="alert mini-alert">Digite seu Curso</div>
                    <div *ngIf="signup.controls['curso'].hasError('pattern') && signup.controls['curso'].touched" class="alert mini-alert">Digite seu curso.</div>
                    -->
                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" stacked>Data de Nascimento*</ion-label>
                        <ion-input type="date" formControlName="birthdate" margin-left="1px"></ion-input>
                        <!--<ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>-->
                    </ion-item>

                    <ion-list>
                        <ion-item>
                            <ion-label color="inovatech_blue" margin-left="1px" floating>
                            Sexo*
                            </ion-label>
                            <ion-select formControlName="gender" margin-left="1px">
                                <ion-option value="F">Feminino</ion-option>
                                <ion-option value="M">Masculino</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                    
                    <ion-list>
                        <ion-item>
                            <ion-label color="inovatech_blue" margin-left="1px" floating>
                            Tipo*
                            </ion-label>
                            <ion-select formControlName="occupation" margin-left="1px">
                                <ion-option value="Aluno">Aluno</ion-option>
                                <ion-option value="Professor">Professor</ion-option>
                                <ion-option value="Servidor">Servidor</ion-option>
                                <ion-option value="Outro">Outro</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>

                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Faculdade</ion-label>
                        <ion-input type="text" formControlName="university" margin-left="1px"></ion-input>
                    </ion-item>
                    <div *ngIf="signup.controls['university'].hasError('required') && signup.controls['university'].touched" class="alert mini-alert">Insira o nome da sua faculdade</div>
                    <div *ngIf="signup.controls['university'].hasError('pattern') && signup.controls['university'].touched" class="alert mini-alert">Digite um nome Válido.</div>

                    <ion-list>
                        <ion-item>
                           <ion-label color="inovatech_blue" margin-left="1px" floating>
                            Curso
                            </ion-label>
                            <ion-select formControlName="curso" margin-left="1px">
                                <div *ngFor="let curso of cursos_list">
                                    <ion-option value="{{curso.nome}}">{{curso.nome}}</ion-option>
                                </div>
                            </ion-select>
                        </ion-item>
                    </ion-list>

                    <ion-list>
                        <ion-item>
                            <ion-label color="inovatech_blue" margin-left="1px" floating>
                            Semestre
                            </ion-label>
                            <ion-select formControlName="semester" margin-left="1px">
                                <ion-option value="1">1</ion-option>
                                <ion-option value="2">2</ion-option>
                                <ion-option value="3">3</ion-option>
                                <ion-option value="4">4</ion-option>
                                <ion-option value="5">5</ion-option>
                                <ion-option value="6">6</ion-option>
                                <ion-option value="7">7</ion-option>
                                <ion-option value="8">8</ion-option>
                                <ion-option value="9">9</ion-option>
                                <ion-option value="10">10</ion-option>
                                <ion-option value="11">11</ion-option>
                                <ion-option value="12">12</ion-option>
                                <ion-option value="13">13+</ion-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>

                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Email*</ion-label>
                        <ion-input type="text" formControlName="email" margin-left="1px"></ion-input>
                    </ion-item>
                     <div *ngIf="signup.controls['email'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira o email de contato</div>

                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>Senha*</ion-label>
                        <ion-input type="password" formControlName="password" margin-left="1px"></ion-input>
                    </ion-item>
                    <div *ngIf="signup.controls['password'].hasError('required') && signup.controls['email'].touched" class="alert mini-alert">Insira sua senha</div>
                    <div *ngIf="signup.controls['password'].hasError('minlength') && signup.controls['email'].touched" class="alert mini-alert">A senha deve ter no mínimo 6 caracteres.</div>
                </ion-list>

                <ion-list>
                    <ion-item>
                        <ion-label color="inovatech_blue" margin-left="1px" floating>
                        Como conheceu o iNOVATECH
                        </ion-label>
                        <ion-select formControlName="question_know" margin-left="1px">
                            <ion-option value="cartazes">Cartazes</ion-option>
                            <ion-option value="colega">Colegas</ion-option>
                            <ion-option value="facebook">Facebook</ion-option>
                            <ion-option value="instagram">Instagram</ion-option>
                            <ion-option value="site">Site</ion-option>
                            <ion-option value="estande">Estande</ion-option>
                            <ion-option value="professores">Professores</ion-option>
                            <ion-option value="outras_edicoes">Participei de outras edições</ion-option>
                            <ion-option value="Outro">Outro</ion-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
                
                <button ion-button icon-left color="inovatech_blue" type="submit" [disabled]="!signup.valid"><ion-icon name="person-add"></ion-icon>Cadastrar</button>
            </form>
          </div>
    </div>
  </div>
  </section>

</ion-content>
