page-signup {
    .toolbar-background{
        background-color: #1e5d6c;
        text-align: center;
    }
    
    section {
        text-align:             center;
        margin-bottom:          15%;
    }

    .loginPanel {
        width:                  400px;
        max-width:              90%;
        padding:                10px;
        margin:                 20px;
        border:                 1px solid map-get($colors, inovatech_blue);
        display:                inline-block;
        color: #fff;

        h2 {
            font-size:              18px;
        }

        ion-item {
            padding:                0px;
        }

        .buttons {
            margin-top:             40px;
            text-align:             center;
        }
    
}

div.menu{
    color: #fff;
    text-align: left;

}
.menu img
{
    float: right;
}  


.menu img
{
    display: block;
    margin: 0 auto;
    max-width: 500px;
    max-height: 50px;
}
}
