page-menu {
    .toolbar-background{
        background-color: #1e5d6c;
        text-align: center;

    } 

    ion-content{
        background-color: map-get($colors, inovatech_blue );
    }

    ion-col{
        color: #fff;
    }
}

div.back{
        background-color: map-get($colors, inovatech_blue );
}
.back img{
    position: relative;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;

}
.back p{
    //text-align: center;
    color: #fff;
    text-align-last: center;
    margin-top: -5px;


}
div.text{
    position: absolute;
    top: 30%;
    left:30%;
    color: #fff;
    text-align: right;

}   
//Classe cabeçalho: Cor e imagem
div.cabecalho{
    background-color: #1e5d6c;
}

.cabecalho img{
    display:block;
    margin-left:auto;
    margin-right:auto;
    //max-height: 15%;
    height: 75px;

}

