
<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title><div class="icone"><img src = "assets/img/icone-192.png"></div><div class="text">Menu</div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding >
  <div class="back">
    <ion-grid>
      <ion-row >
        <ion-col align-self-center>
          <img src="assets/img/icones/cronograma.png" (click)="navegarPagina('Cronograma')">
          <p>Cronograma</p>
        </ion-col>
        <ion-col>
          <img src="assets/img/icones/palestras.png" (click)="navegarPagina('Palestrantes')">
          <p>Palestrantes</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/img/icones/startup.png" (click)="navegarPagina('Startups')">
          <p>Empresas e Startups</p>
        </ion-col>
        <ion-col>
          <img src="assets/img/icones/minicurso.png" (click)="navegarPagina('Minicursos')">
          <p>Minicursos</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="assets/img/icones/desafio.png" (click)="navegarPagina('desafio')">
          <p>Desafio iNOVATECH</p>
        </ion-col>
        <!--<ion-col>
          <img src="assets/img/icones/foodtrucks.png" (click)="navegarPagina('foodTrucks')">
          <p>Food Trucks</p>
        </ion-col>-->
        <ion-col>
        <a href="https://www.facebook.com/inovatechunb" target="_blank">
          <img src="assets/img/icones/facebook.png">
        </a>
        <p>Facebook</p>
      </ion-col>
    </ion-row>
    <!--<ion-row>
      <ion-col>
        <img src="assets/img/icones/whatsapp.png" (click)="doAlert()">
        <!--<div *ngIf="local == 'FAV'">
          <a href="https://chat.whatsapp.com/CLFyeRg3CkfDpIjcJCzTVz">
            <img src="assets/img/icones/whatsapp.png">
          </a>
        </div>
        <div *ngIf="local == 'FACE'">
          <a href="https://chat.whatsapp.com/EEoOSaxOSPF6JAs0HgdFTH" target="_blank">
            <img src="assets/img/icones/whatsapp.png">
          </a>
        </div>
        <div *ngIf="local == 'FAU'">
          <a href="https://chat.whatsapp.com/3bIa5fSQul08RnARVeHnoV" target="_blank">
            <img src="assets/img/icones/whatsapp.png">
          </a>
        </div>
        <p>Grupo iNOVATECH</p>
      </ion-col>-->
      <!--<ion-col>
        <a href="https://www.facebook.com/inovatechunb" target="_blank">
          <img src="assets/img/icones/facebook.png">
        </a>
        <p>Facebook</p>
      </ion-col>
    </ion-row>-->
    <ion-row>
      <ion-col>
        <img src="assets/img/icones/parceiros.png" (click)="navegarPagina('parceiros')">
        <p>Parceiros</p>
      </ion-col>
      <ion-col>
        <div *ngIf="local == 'FAV'">
          <a href="https://www.google.com.br/maps/place/UnB+Instituto+Central+de+Ci%C3%AAncias+-+Bras%C3%ADlia,+DF/@-15.7645733,-47.8708472,17z/data=!4m5!3m4!1s0x935a3bb9aebb035b:0x2c56931074a8d35d!8m2!3d-15.7630424!4d-47.8695222" target="_blank">
            <img src="assets/img/icones/local.png">
          </a>
        </div>
        <div *ngIf="local == 'FACE'">
          <a href="https://www.google.com.br/maps/dir//Universidade+de+Bras%C3%ADlia+-+Campus+Planaltina,+%C3%81rea+Universit%C3%A1ria,+01,+Vila+Nossa+Senhora+de+F%C3%A1tima+-+Planaltina,+DF,+73345-010/@-15.6008141,-47.6933167,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x935a6cc46377f649:0xd3be9501c1d830ad!2m2!1d-47.6582112!2d-15.6008169" target="_blank">
            <img src="assets/img/icones/local.png">
          </a>
        </div>
        <div *ngIf="local == 'FAU'">
          <a href="https://www.google.com.br/maps/dir//google+maps+unb+FT/@-15.7637537,-47.9071156,13z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x935a3bb9198826b9:0x9f89ebd519d93f5!2m2!1d-47.8720101!2d-15.7637565" target="_blank">
            <img src="assets/img/icones/local.png">
          </a>
        </div>
        <!--<img src="assets/img/icones/local.png" (click)="navegarPagina('mapa')">-->
        <p>Localização</p>
      </ion-col>
    </ion-row>
    </ion-grid>

  </div>
</ion-content>
